@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  background: #1a212b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Ubuntu, serif;
  color: #eeeeef;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(8px);
  background: rgba(25, 34, 43, 0.8);
  border-bottom: solid 3px #27303e;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 30px;
  list-style: none;
}

nav li a {
  text-decoration: none;
  transition: all 0.2s;
}

nav li a:hover {
  color: rgb(244, 113, 116);
}

.title {
  color: #fff;
  font-size: 50px;
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}

.title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  background: rgba(244, 113, 116, 0.5);
  z-index: -1;
}

.container {
  margin: 80px 80px;
  padding-top: 150px;
  text-align: center;
}

.name {
  font-size: 20px;
  margin-top: 10px;
}

.hero-content {
  margin: auto;
  height: 100vh;
  display: grid;
}

.hero-text-content {
  width: 70%;
  display: flex;
  margin: auto;
  align-items: center;
}

.hero-text-content p {
  font-size: 25px;
}

.main-title {
  text-align: left;
  font-size: 55px;
  color: rgb(244, 113, 116);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 15px;
}

.hero-content img {
  width: 50%;
  margin-right: 30px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.story-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.org-container img {
  object-fit: cover;
  width: 100%;
}

.on-hover-bounce {
  transition: all 0.2s;
}

.on-hover-bounce:hover {
  transform: translateY(-10px);
}

.story-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  text-align: justify;
}

.story-content p {
  padding: 0 20px;
  line-height: 25px;
}

.executives-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
}

.executives-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: solid 3px #2d3848;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.4);
}

.founders-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  width: 100%;
}

.founder {
  width: 100%;
}

.founders-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: solid 3px #2d3848;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.4);
}

.sdg-container {
  margin-bottom: 100px;
}

.sdg-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.sdg-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 100%;
}

.sdg-heading img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.sdg-3 {
  color: #4c9f38;
}

footer {
  background: #171a24;
  padding: 30px;
  text-align: center;
}

footer p {
  color: #4a5667;
}

footer span {
  color: rgb(244, 113, 116);
  cursor: pointer;
}

.accordion-button {
  background-color: #2b304c;
  border: none;
  color: white;
  text-align: left;
  cursor: pointer;
  padding: 18px;
  width: 100%;
}

.active,
.accordion-button:hover {
  background-color: #33385a;
}

.panel {
  background-color: #3e446e;
  overflow: hidden;
  width: 100%;
  margin: auto;
  max-height: 0;
  transition: max-height 0.2s;
}

.panel p {
  margin: 18px;
  text-align: left;
  line-height: 1.5em;
}

.accordion-button:after {
  content: "+";
  font-size: 15px;
  color: #fff;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "-";
  font-size: 15px;
}

.sdg-5 {
  color: #ff3b21;
}

.sdg-10 {
  color: #de1566;
}

.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid rgb(244, 113, 116);
  border-right: 5px solid rgb(244, 113, 116);
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
